{% extends "baseLayout.html" %}

{% block content %}
<h1 class="title new-item">{{ pageTitle }}</h1>

<form action="{{ baseUrl }}/{{formAction}}" method="post">
    <div class="input-field">
        <label for="category-name" class="label">Category Name</label>
        <input type="text" id="category-name" name="name" value="{{ category.name }}" class="input-text" />

    </div>
    <div class="input-field">
        <label for="category-code" class="label">Category Code</label>
        <input type="text" id="category-code" name="code" value="{{ category.code }}" class="input-text" />

    </div>
    <div class="actions-form">
        <a href="{{ baseUrl }}/categories" class="action back">Back</a>
        <input class="btn-submit btn-action"  type="submit" value="Save" />
    </div>
</form>
{% endblock %}