{% extends "baseLayout.html" %}

{% block content %}
<h1 class="title new-item">{{ pageTitle }}</h1>

<form action="{{ baseUrl }}/{{ formAction }}" method="POST" enctype="multipart/form-data">
    <div class="input-field">
        <label for="sku" class="label">Product SKU</label>
        <input type="text" id="sku" name="sku" value="{{ product.sku }}" class="input-text" /> 
    </div>
    <div class="input-field">
        <label for="name" class="label">Product Name</label>
        <input type="text" id="name" name="name" value="{{ product.name }}" class="input-text" /> 
    </div>
    <div class="input-field">
        <label for="price" class="label">Price</label>
        <input type="text" id="price" name="price" value="{{ product.price }}" class="input-text" /> 
    </div>
    <div class="input-field">
        <label for="quantity" class="label">Quantity</label>
        <input type="text" id="quantity" name="qty" value="{{ product.qty }}" class="input-text" /> 
    </div>
    <div class="input-field">
        <label for="category" class="label">Categories</label>
        <select multiple id="category"  name="categories[]" class="input-text">
            {% for cat in categoryList %}
            <option value="{{ cat.id }}" {% if cat.selected %}selected="selected"{% endif %} >{{ cat.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="input-field">
        <label for="description" class="label">Description</label>
        <textarea id="description" name="description" class="input-text">{{ product.description }}</textarea>
    </div>
    <div class="input-field">
        <label for="image" class="label">Image</label>
        <input type="file" id="image" name="image" class="input-text" />
    </div>
    <div class="actions-form">
        <a href="{{baseUrl}}/products" class="action back">Back</a>
        <input class="btn-submit btn-action" type="submit" value="Save Product" />
    </div>

</form>
{% endblock %}