{% extends "baseLayout.html" %}

{% block content %}
<div class="header-list-page">
    <h1 class="title">{{ pageTitle }}</h1>
    <a href="{{baseUrl}}/products/create" class="btn-action">Add new Product</a>
</div>
{% if msg %}
<p style="color: #990000; text-align: right;"><b>{{ msg }}</b></p>
{% endif %}
<table class="data-grid">
    <tr class="data-row">
        <th class="data-grid-th">
            <span class="data-grid-cell-content">Name</span>
        </th>
        <th class="data-grid-th">
            <span class="data-grid-cell-content">SKU</span>
        </th>
        <th class="data-grid-th">
            <span class="data-grid-cell-content">Price</span>
        </th>
        <th class="data-grid-th">
            <span class="data-grid-cell-content">Quantity</span>
        </th>
        <th class="data-grid-th">
            <span class="data-grid-cell-content">Categories</span>
        </th>

        <th class="data-grid-th">
            <span class="data-grid-cell-content">Actions</span>
        </th>
    </tr>
    {% for product in productList %}
    <tr class="data-row">
        <td class="data-grid-td">
            <span class="data-grid-cell-content">{{ product.name }}</span>
        </td>
        <td class="data-grid-td">
            <span class="data-grid-cell-content">{{ product.sku }}</span>
        </td>
        <td class="data-grid-td">
            <span class="data-grid-cell-content">{{ product.price }}</span>
        </td>
        <td class="data-grid-td">
            <span class="data-grid-cell-content">{{ product.qty }}</span>
        </td>
        <td class="data-grid-td">
            <span class="data-grid-cell-content">
                {% for category in product.category %}
                    {{ category.name }}<Br />
                {% endfor %}
            </span>
        </td>
        <td class="data-grid-td">
            <div class="actions">
                <div class="action edit"><span><a href="{{ baseUrl }}/products/{{ product.id }}/edit">Edit</a></span></div>
                <div class="action delete"><span><a href="{{ baseUrl }}/products/{{ product.id }}/delete" onclick="return confirm('Are you sure you want to delete this item?');">Delete</a></span></div>
            </div>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}